
.icon-chart_curve { background-image: url(/silk-icons/chart_curve.png) !important; }
.icon-chart_curve_edit { background-image: url(/silk-icons/chart_curve_edit.png) !important; }
.icon-computer_connect { background-image: url(/silk-icons/computer_connect.png) !important; }
.icon-group { background-image: url(/silk-icons/group.png) !important; }
.icon-door_out { background-image: url(/silk-icons/door_out.png) !important; }
.icon-page_excel { background-image: url(/silk-icons/page_excel.png) !important; }
.icon-printer { background-image: url(/silk-icons/printer.png) !important; }
.icon-table { background-image: url(/silk-icons/table.png) !important; }

.icon-add { background-image: url(/silk-icons/add.png) !important; } 
.icon-delete { background-image: url(/silk-icons/delete.png) !important; } 
.icon-page_edit { background-image: url(/silk-icons/page_edit.png) !important;} 

.icon-help { background-image: url(/silk-icons/help.png) !important; } 

.icon-bin         { background-image: url(/silk-icons/bin.png)         !important; } 
.icon-bin-closed  { background-image: url(/silk-icons/bin_closed.png)  !important; } 

.icon-accept { background-image: url(/silk-icons/accept.png) !important; } 
.icon-exclamation { background-image: url(/silk-icons/exclamation.png) !important; } 

.icon-eye { background-image: url(/silk-icons/eye.png) !important; } 


.icon-print-preview { background-image: url(../icons/document-print-preview-3.png)  !important; }
/* Above icon is 16x16 pixel and has a PD license. File source:
/* http://openiconlibrary.sourceforge.net/gallery2/?./Icons/actions/document-print-preview-3.png */
