<div style="padding : 5px; border-radius : 6px 6px 6px 6px; background-color : white; box-shadow : 0 0 5px rgba(0, 0, 0, 0.3)">

<p>
Dieses Formular erzeugt eine Vorlage für einen Änderungsauftrag, der an das Kommunikationsmanagement
Dataport gesendet werden kann. Diese Vorlage wird an die Email-Adresse des aktuell angemeldeten Nutzers gesendet.
<br><br>
Durch Absenden dieses Formulars werden die Daten in Netspoc oder Policy-Web in keiner Weise direkt geändert.
Eine Änderung ergibt sich erst nach erfolgreicher Bearbeitung des Auftrags durch das
Kommunikationsmanagement und den Netzbetrieb von Dataport.
</p>

</div>

