To: {$email}
Subject: Auftrag zum Hinzufügen eines Objekts zu den Benutzern("User") des Dienstes "{$service}"
Content-Type: text/plain; charset=UTF-8

----------------------------------------------------------------------------------------------------
Objekt zu Benutzern("User") eines bestehenden Dienstes hinzufügen
----------------------------------------------------------------------------------------------------

Dienst: {$service}

Owner des Dienstes: { foreach $o (@srv_owners) { $OUT .= $o . ',' } }


Dieses Objekt soll zu den Benutzern("User") hinzugefügt werden:
  - Name	: {$new_user_object}
  - IP-Adresse	: {$new_user_object_ip}


Benutzer("User") des Dienstes bisher:

{ foreach $user (@users) {
    $OUT .= "\t" . $user->{name} . "\n";
  }    
}


