To: {$email}
Subject: Auftrag: Hinzufügen eines Objekts zu den Benutzern("User") des Dienstes "{$service}"
Content-Type: text/plain; charset=UTF-8

Senden Sie diese Mail nach eingehender Prüfung bitte weiter an dataportlnsh-policy@dataport.de,
damit nach dortiger Prüfung und Einholung eventuell erforderlicher Genehmigungen
ein Auftrag für die gewünschte Änderung des Regelwerks in Netspoc erteilt wird.

----------------------------------------------------------------------------------------------------
Objekt zu Benutzern("User") eines bestehenden Dienstes hinzufügen
----------------------------------------------------------------------------------------------------

Dienst: {$service}

Owner des Dienstes: { foreach $o (@srv_owners) { $OUT .= $o . ',' } }


Dieses Objekt soll zu den Benutzern("User") hinzugefügt werden:
  - Name	: {$user_object_name}
  - IP-Adresse	: {$user_object_ip}
  - Mandant	: {$business_unit}


Benutzer("User") des Dienstes bisher:

{ foreach $user (@users) {
    $OUT .= "\t" . $user->{ip} . "\t(" . $user->{name} . ")\n";
  }    
}


