
.icon-chart_curve { background-image: url(/silk-icons/chart_curve.png) !important; }
.icon-chart_curve_edit { background-image: url(/silk-icons/chart_curve_edit.png) !important; }
.icon-computer_connect { background-image: url(/silk-icons/computer_connect.png) !important; }
.icon-door_out { background-image: url(/silk-icons/door_out.png) !important; }
.icon-page_excel { background-image: url(/silk-icons/page_excel.png) !important; }
.icon-printer { background-image: url(/silk-icons/printer.png) !important; }

.icon-add { background-image: url(/silk-icons/add.png) !important; } 
.icon-delete { background-image: url(/silk-icons/delete.png) !important; } 
.icon-page_edit { background-image: url(/silk-icons/page_edit.png) !important;} 

.icon-help { background-image: url(/silk-icons/help.png) !important; } 


