
.icon-chart_curve { background-image: url(/silk-icons/chart_curve.png) !important; }
.icon-computer_connect { background-image: url(/silk-icons/computer_connect.png) !important; }
.icon-door_out { background-image: url(/silk-icons/door_out.png) !important; }
.icon-page_excel { background-image: url(/silk-icons/page_excel.png) !important; }
.icon-printer { background-image: url(/silk-icons/printer.png) !important; }
