/*
Dataport Rot 	Dataport Online Lichtgrau
#9E292B 		#D0D3D6
RGB 158-41-43 	RGB 208-211-214

Dataport Grau 	Dataport Online Lichtgrau Hell
#54616E 		#E8E9EB  ( <== in Tabellen)
RGB 84-97-110 	RGB 232-233-235

Dataport Dunkelrot	Dataport TextSchwarz
#7D212B 			#333333
RGB 125-33-43 		RGB 51-51-51

Dataport Hellgrau
#8A9199
RGB 138-145-153
*/

div.policy {
	font-family  : sans-serif;
	color        : black;
	text-align   : center;
	background   : #D0D3D6;
	font-weight  : bolder;
	border-style : solid none none none;
	border-width : thin;
	border-color : #E8E9EB;
	padding      : 2px;
}

div.rule-container {
	font-family  : sans-serif;
	color        : black;
	background   : white;
	/*border       : thin solid #54616E;*/
	padding      : 2px;
}

div.ping-and-owner {
	font-family  : sans-serif;
	color        : black;
	font-weight  : bold;
	background   : #E8E9EB;
	/*border-top   : thin solid #54616E;*/
	height       : 20px;
	padding      : 2px;
}

div.ping-left {
   float: left;
   width: 28%;
}

div.owner-right {
   float: right;
   width: 68%;
   text-align: left;
} 

td.action {
	font-family    : sans-serif;
	vertical-align : top;
	padding        : 2px;
	width          : 10%;
}

td.src {
	vertical-align : top;
	padding      : 2px;
	width        : 40%;
}

td.dst {
	vertical-align : top;
	padding      : 2px;
	width        : 40%;
}

td.srv {
	vertical-align : top;
	padding      : 2px;
	width        : 100px;
}

td.user {
	vertical-align : top;
	font-weight    : bold;
	padding        : 2px;
	width          : 10%;
}




